
.col-md-3,.col-md-9 {

    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

img {
    width: 150px;
}

.row{
    border-style: solid;
    border-width: 1px;
    border-color: green;
}

.col {
    border-style: solid;
    border-width: 1px;
    border-color: red;

}
